body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(236, 236, 236, 0.719);
}

header{
    width: 100%;
    text-align: center;
}

header .to-do-header{
    font-size: 50px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .add-container{
    display: flex;
    flex-direction: column;
}

.add-container label{
    font-size: 20px;
    font-weight:400
}

.add-container textarea{
    width: 300px;
    resize: none;
    height: 100px;
    font-size: 20px;
}

.add-container .add-button{
    width: 150px;
    align-self: center;
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: rgb(0, 192, 0);
    color: #fff;
    cursor: pointer;
}

.add-container .add-button:hover{
    background-color: rgb(0, 158, 0);
}

main .tasks-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

main .task-labels{
    width: 800px;
    display: flex;
    flex-direction: row;
}

.task-labels .mark-as-completed-header{
    margin-left: 170px;
}

.task-labels .move-up-header{
    margin-left: 50px;
}

.task-labels .move-down-header{
    margin-left: 50px;
}

.task-labels h2{
    margin-left: 20px;
    font-size: 20px;
}

.tasks-container .task-item{
    box-shadow: 10px 10px 13px rgb(34, 34, 34);
    width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    border-radius: 25px;;
    background-color: #ffff;
    margin-top:30px;
    animation: slideDown 1s ease-out;
}

.task-item .task-text{
    align-self: flex-start;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    width: 300px;
    padding: 10px;

}

.task-item .edit-input{
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    padding: 6px;
    resize: none;
}

.task-text .delete-edit-buttons{
    margin-bottom: -15px;
    margin-top: 5px;
}

.task-text .text{
    flex: 1 1 100%;
    word-break: break-word;
}

.edit-button-container{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sumbit-button-on-edit{
    padding: 5px;
    color: #fff;
    background-color: rgb(38, 78, 255);
    margin-top: 3px;
    border: none;
    border-radius: 40px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
}

.sumbit-button-on-edit:hover{
    background-color: rgb(0, 33, 180) ;
}

.delete-edit-buttons i{
    font-size: 20px;
    cursor: pointer;
}

.delete-edit-buttons .fa-solid.fa-trash{
    color: red;
}

.delete-edit-buttons .fa-solid.fa-pen-to-square{
    color: rgb(35, 76, 255);
    margin-left: 20px;
}

.task-item [type="checkbox"]{
    margin-left: 40px;
    height: 20px;
    width: 20px;
}

.error-message{
    color: red;
    align-self: center;
    font-size: 18px;
    font-weight: 500;
}

.checked-task{
    box-shadow: 10px 10px 13px rgb(34, 34, 34);
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    border-radius: 25px;;
    background-color: #ffff;
    margin-top: 30px;
    filter: blur(10px);
}

.checkbox-container{
    width: 220px;
}

.checkbox-container .completed-header{
    margin-top: 0px;
    background-color: rgb(0, 141, 0);
    width: 80px;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
}

.move-buttons-container{
    display: flex;
    flex-direction: row;
}

.task-item .fa-solid.fa-chevron-up,.fa-solid.fa-chevron-down{
    background-color: blue;
    color: #ffff;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.fa-solid.fa-chevron-down{
    margin-left: 120px;
}

@keyframes slideDown{
    from{transform:translateY(-800px)}
    to{transform: translateY(0px);}
}